p.
  V předchozích cvičeních jste se setkali s object literalem. V tomto cvičení se podíváme na vytváření objektů pomocí tříd a na dědičnost.
  Názvy testů zde již nepopisují to co máte udělat, ale kontrolují průběžně Vaši práci, tak jak to bývá v praxi.

h4 Karma runner
p.
  Aby jste výsledky testů viděli pohodlně přímo v zadání, spusťte ještě karma runner:

ul
  li.task V jedné konzoli nechejte běžet #[strong npm start] - webserver s cvičeními
  li.task V druhé spusťte příkaz:

snippet.
  npm run tests-oop

h3 1 - Generátor
p.
  Takto vypadá generátor z předchozího příkladu.

snippet
  :highlight-js
    const generatorFactory = function(initialNumber = 0) {
      return function generator() {
        return initialNumber++;
      }
    };

ul
  li V této části jej proměníme v objekt, který můžeme vytvořit pomocí operátoru #[strong new] a použít následujícím způsobem.

snippet
  :highlight-js
    const generator = new Generator(42);

    generator.increase() // 42
    generator.increase() // 43
    generator.increase() // 44

ul
  li tento úkol zpracovávejte v souboru #[em generator-oop.js]

h4 1.1 - Vytvořte generátor
ul.task
  li vytvořte třídu #[strong Generator]
  li exportujte ji

solution
  :highlight-js
    export class Generator {

    }

tests(todo="1.1")

ul.task
  li v constructoru třídy inicializujte vlastnost #[strong value] na 0

solution
  :highlight-js
    export class Generator {
      constructor() {
        this.value = 0;
      }
    }

tests(todo="1.2")

ul.task
  li vytvořte ve třídě #[strong Generator] metodu #[strong increase]
  li v metodě #[strong increase] vracejte postincrement vlastnosti #[strong value] stejně jako tomu bylo ve funkci #[strong generator]

solution
  :highlight-js
    export class Generator {
      constructor() {
        this.value = 0;
      }

      increase() {
        return this.value++;
      };
    }

tests(todo="1.3")

ul.task
  li konstruktor bude mít parametr #[strong initialNumber] s defaultní hodnotou je #[strong 0].
  li hodnotu přiřaďte do vlastnosti #[strong value]

solution
  :highlight-js
    export class Generator {
      constructor(initialValue = 0) {
        this.value = initialValue;
      }

      increase() {
        return this.value++;
      };
    }

tests(todo="1.4")

h4 1.5 - Instancujte generátor

ul.task
  li Instancujte generátor pomocí jeho konstrukční funkce do proměnné #[strong sequenceGenerator] a nastavte #[strong 1] jako počátek generování

solution
  :highlight-js
    export let sequenceGenerator = new Generator(1);

tests(todo="1.5")

h3 2. Test operace sčítání
ul
  li V této části se opět vrátíme ke kalkulačce a podíváme se jak je možné použít objekty zde.
  li Cvičení se bude odehrávat v souboru #[em calculator.js]
  li Připravili jsme pro Vás operaci #[strong Add], která sčítá dvě čísla, na ní si vyzkoušíme tvorbu testů a dědičnost.

h4 2.1 - vytvořte test s názvem "počítá součet (TODO 2.1)"
ul.task
  li Podívejte se, jak je operace #[strong Add] implementována a jak je napsán test pro kontrolu názvu v #[em calculator.spec.js]
  li Napište test s názvem #[strong počítá součet (TODO 2.1)]
    p
      .info Neopomeňte v názvu testu identifikátor (TODO 2.1)

  li V testu vytvořte novou instanci #[strong Add]
  li zavolejte metodu #[strong calculate], se dvěma čísli a očekávejte jejich součet


solution
  :highlight-js
    it('počítá součet (TODO 2.1)', () => {
      const add = new Add();
      expect(add.calculate(1, 2)).toBe(3);
    });
ul
  li Tento test by Vám měl ihned procházet



tests(todo="2.1")

h4 2.2 - vytvořte test s názvem "ošetřuje vstupy (TODO 3.1)"

p Operace #[strong Add] nemá ošetřené vstupy proti zadání řetězce, dojde přitom k řetězení, než toto opravíme, pokryjeme to testem.

ul
  li.task Než se pustíme do implementace, napište test pojmenovaný #[strong ošetřuje vstupy (TODO 3.1)]
  li.task Bude vypadat stejně jako předchozí, jen do operace posílejte místo čísel řetězce - #[strong "1"]

ul
  li Tento test zatím nebude procházet, zde se ale zobrazí informace o existenci

solution
  :highlight-js
    it('ošetřuje vstupy (TODO 2.2)', () => {
      const add = new Add();
      expect(add.calculate("1", 2)).toBe(3);
    });

tests-exists(todo="2.2")

h3 3. Rozšíření operací
h4 3.1 - Ošetření vstupů operace Add

p Protože máme připravený test pro kontrolu ošetření vstupů, můžeme se pustit do implementace

ul.task
  li Přejmenujte současnou metodu operace #[strong calculate] na #[strong calculateInternal_]
  li Vytvořte novou metodu #[strong calculate], která interní metodu provolává a zároveň převádí vstupy na #[strong float]

hint Převod na #[strong float] můžete provést pomocí #[strong parseFloat(a)]

solution
  :highlight-js
    export class Add {
      constructor() {
        this.name = "add";
      }

      calculateInternal_(a, b) {
        return a + b;
      }

      calculate(a, b) {
        return this.calculateInternal_(parseFloat(a), parseFloat(b));
      }
    }

tests(todo="2.2")

h4 3.2 - Vytvořte operaci odčítání
ul.task
  li Nyní zkopírujte implementaci operace #[strong Add]
  li upravte metodu #[strong calculateInternal_] na odčítání
  li přejmenujte objekt na #[strong Sub]
  li změňte její název v construktoru na #[strong sub]

solution
  :highlight-js
    export class Sub {
      constructor() {
        this.name = "sub";
      }

      calculateInternal_(a, b) {
        return a - b;
      }

      calculate(a, b) {
        return this.calculateInternal_(parseFloat(a), parseFloat(b));
      }
    }
tests(todo="3.2")

h4 3.3 - Přidejte akci odčítání do kalkulátoru
ul
  li Připravený kalkulátor #[strong calculator] umožňuje přidat akce a poté je podle názvu volat, sčítání už je přidáno, zbývá odčítání
  li.task Přidejte instanci akce odčítání do existujícího kalkulátoru

solution
  :highlight-js
    calculator.addOperation(new Sub());

tests(todo="3.3")

h4 3.4 - Použijte dědičnost
ul
  li.task Všiměte si duplicity v akcích #[strong Add] a #[strong Sub]
  li Obě akce mají stejnou metodu #[strong calculate], tu můžeme přesunout do předka

ul.task
  li Z #[strong Add] a #[strong Sub] udělejte potomky #[strong Operation]
  li Přesuňte akci #[strong calculate] do existujícího objektu #[strong Operation], samotné akce tak budou nyní mít jen #[strong calculateInternal_]
  li v konstruktorech #[strong Add] a #[strong Sub] nahraďte přiřazení názvu operace voláním předka s předáním názvu operace

hint pro dědění se používá #[strong extends], pro volání předka super();
  snippet
    :highlight-js
      class Child extends Parent {
        constructor() {
          super();
        }
      }

solution
  :highlight-js
    export class Operation {
      constructor(name) {
        this.name = name;
      }

      calculate(a, b) {
        return this.calculateInternal_(parseFloat(a), parseFloat(b));
      }
    }

    export class Add extends Operation {
      constructor() {
        super("add")
      }

      calculateInternal_(a, b) {
        return a + b;
      }
    }

    export class Sub extends Operation{
      constructor() {
        super("sub");
      }

      calculateInternal_(a, b) {
        return a - b;
      }
    }

tests(todo="3.4")


tests-results
